# Task 1
#### Name: Harinya Potluri
#### Date: 09/23/2023

# Writing to a Text File: Introducing the with Statement

In [1]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

# Reading Data from a Text File

In [2]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

# Updating Text Files

In [6]:
accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')

with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

with open("temp_file.txt", 'r') as file:
    for line in file.readlines():
        print(line)

100 Jones 24.98

200 Doe 345.67

300 Williams 0.00

400 Stone -42.16

500 Rich 224.62

# Python Standard Library Module json

In [7]:
import json

accounts_dict = {'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
                              {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

## Serializing an Object to JSON

In [8]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

## Deserializing the JSON Text

In [10]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

## Displaying the JSON Text

In [11]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

# Handling Exceptions
## try Statements

In [2]:
while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError: # denominator was 0
        print('Attempted to divide by zero\n')
    else: # executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
    finally:
        break

Attempted to divide by zero

# Intro to Data Science: Working with CSV Files
## Writing to a CSV File

In [3]:
import csv

with open('accounts.csv', mode='w', newline='') as accounts:
     writer = csv.writer(accounts)
     writer.writerow([100, 'Jones', 24.98])
     writer.writerow([200, 'Doe', 345.67])
     writer.writerow([300, 'White', 0.00])
     writer.writerow([400, 'Stone', -42.16])
     writer.writerow([500, 'Rich', 224.62])

## Reading from a CSV File

In [4]:
with open('accounts.csv', 'r', newline='') as accounts:
     print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
     reader = csv.reader(accounts)
     for record in reader:
         account, name, balance = record
         print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

## Reading CSV Files into Pandas DataFrames

In [6]:
import pandas as pd
df = pd.read_csv('accounts.csv',
                  names=['account', 'name', 'balance'])
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62